<div class="container">
<br>
<h1 class="text-center">MY BOOKING PAGE</h1>


<div class="d-flex flex-wrap">
  <% @bookings.each do |booking| %>
  <div class="card-product border">
    <div class="image_rooms">
      <% if booking.politician.image_url.present? %>
        <img src="<%= booking.politician.image_url %>" alt="<%= booking.politician.name %>" width="50" height="60">
      <% else %>
        <%= cl_image_tag(booking.politician.photo.key, width: 50, height: 60, crop: :fill) %>
      <% end %>
    </div>


    <div class="card-product-infos ">
      <h2>Poli-name: <%= booking.politician.name %></h2>
      <p>Description: <%= booking.politician.description %></p>
      <p>Location: <%= booking.politician.location %></p>
      <p>User-mail: <%= booking.user.email %></p>
      <p>Status: <%= booking.status %></p>
      <br>
      <h5>Cost: <%= booking.politician.cost %> €/night</h5>
    </div>
  </div>
  <% end %>
</div>
</div>
