<div class="container">
<br>
<h1 class="text-center">MY BOOKING PAGE</h1>


<div class="d-flex flex-wrap">
  <% @bookings.each do |booking| %>
  <div class="card-product border">
    <div class="image_rooms">
      <%= render partial: 'politicians/image_handling', locals: { politician: booking.politician } %>
    </div>


    <div class="card-product-infos ">
      <h2><%= booking.politician.name %></h2>
      <p><%= booking.politician.description[0..100] %></p>
      <p>Location: <%= booking.politician.location %></p>
      <p>Status: <%= booking.status %></p>
      <br>
      <h5>Cost: <%= booking.politician.cost %> €/night</h5>
    </div>
  </div>
  <% end %>
</div>
</div>
