<div class="container">
<br>
<h1 class="text-center">MY BOOKING PAGE</h1>


<div class="d-flex flex-wrap">
  <% @bookings.each do |booking| %>
  <div class="card-product border">
    <div class="image_rooms">
      <% if booking.politician.image_url.present? %>
        <img src="<%= booking.politician.image_url %>" alt="<%= booking.politician.name %>" width="50" height="60">
      <% else %>
        <% if booking.politician.photo.key.present?  %>
          <%=  cl_image_tag(booking.politician.photo.key , width: 50, height: 60, crop: :fill) %>
        <% else %>
          <%= image_tag "Logo.png", :style => "width: 100%; height: 100%"  %>
        <% end %>
      <% end %>
    </div>


    <div class="card-product-infos ">
      <h2><%= booking.politician.name %></h2>
      <p><%= booking.politician.description[0..100] %></p>
      <p>Location: <%= booking.politician.location %></p>
      <p>Status: <%= booking.status %></p>
      <br>
      <h5>Cost: <%= booking.politician.cost %> €/night</h5>
    </div>
  </div>
  <% end %>
</div>
</div>
