<h1>politicians_bookings_index dummy page</h1>

<p>bookings.count: <%= @bookings.count %></p>

<ul>
  <% @bookings.each do |booking| %>
    <li data-controller="hiding" data-hiding-status-value="pending">
      <p>booking id: <%= booking.id %></p>
      <p>booking status: <%= booking.status %></p>
      <div data-hiding-target="buttonDiv" >

        <%= link_to "Confirm", confirm_path(booking.id), remote: true,
        data: { turbo_method: :patch,
        action: "click->hiding#toggleClass",
        hiding_target: "button",
        hiding_xxx_value: "Confirmed" } %>

        <%= link_to "Reject", reject_path(booking.id), remote: true,
        data: { turbo_method: :patch,
        action: "click->hiding#toggleClass",
        hiding_target: "button" } %>

      </div>
      <div>
        <p data-hiding-target="statusDisplay">status: pending</p>
      </div>
    </li>
  <% end %>
</ul>

<%# data-action="click->disable-button#disable"
data-hiding-target="button" %>

<%# , hiding_someValue_value: "yourValue" } %>

<%# <%= button_to 'Click Me', your_path, method: :post, data: { controller: "button", action: "click->button#toggleClass", target: "hiding.button" }, class: 'initial-class', id: 'my-button' %>
<%# Syntax: data-controller-name-target="targetName" %>
