  <div class="card-product border">
    <div>
      <% if politician.image_url.present? %>
              <img src="<%= politician.image_url %>" alt="<%= politician.name %>" width="100%" height="100%">
      <% else %>
        <% if politician.photo.key.present? %>
          <%=  cl_image_tag(politician.photo.key, width: 50, height: 60, crop: :fill) %>
        <% else %>
          <%= image_tag "Logo.png", :style => "width: 100%; height: 100%"  %>
        <% end %>
      <% end %>
    </div>
    <div class="card-product-infos">
      <% counts = politician.bookings.select { |book| book.status == "pending" }.count %>
      <% if (counts > 0) and (request.env['PATH_INFO'] == "/politicians/owned")  %>
        <div class="booking_notification d-flex justify-content-center align-items-center">
          <%= counts %>
        </div>
      <% end %>
      <h2><%= politician.name %></h2>
      <hr class="hr-set">
      <p class="mt-3 mb-3"><%= politician.description[0..220] %></p>

      <hr class="hr-set">
      <div class="row">
      <h6 class="col-lg-6" style="color: #B99470"><i class="fa-solid fa-location-dot"></i>  <%= politician.location %></h6>
      <div class="col-lg-6 row">
      <h6 class="col-lg-6"><%= politician.cost %></h6>
      <p class="col-lg-6 price">€/night</p>
      </div>

     </div>
    </div>
  </div>
