
<div class="hero image_rooms">
  <P class="text-center font-weight-bold font-size-large">RENT YOUR POLITICIAN!</P>
</div>
<div class="container">

<div class="row justify-content-center">
  <div class="col-sm-12 my-3">
    <%= form_with url: politicians_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control input-box-search",
            placeholder: "Type a keyword"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary search-btn button-search" %>
    <% end %>
  </div>
</div>

  <div class="cards row flex-wrap">

    <% @politicians.each do |poli| %>
    <%= link_to politician_path(poli.id), class: 'text-decoration-none col-lg-6' do %>
      <%= render partial: 'politician', locals: { politician: poli } %>
    <% end %>
  <% end %>

  </div>
</div>



<!--d-flex flex-wrap-->
