<div class="container">
  <div class="container m-10" style="width: 800; padding: 16px">
    <div class="row">

      <div class="col-sm-6">

        <div class="card">
          <% if @politician.image_url.present? %>
            <img src="<%= @politician.image_url %>" alt="<%= @politician.name %>" width="50" height="60">
          <% else %>
            <% if @politician.photo.key.present? %>
              <%=  cl_image_tag(@politician.photo.key, width: 200, height: 200, crop: :fill) %>
            <% else %>
              <%= image_tag "logo.png", :style => "width: 100%; height: 100%"  %>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="col-sm-6">

        <div class="card" style="height: 340px;">
          <div class="card-body">
            <h5 class="card-title; margin: 4px"><%= @politician.name %></h5>
              <div class="row" style="border-bottom: #BDBDBD solid 1px; border-top: #BDBDBD solid 1px; padding: 2px; margin: 4px">
                            <div class="col-sm-4">
                              <p class="card-text"><%= @politician.location %></p>
                            </div>
                            <div class="col-sm-4">
                              <strong>Tags:</strong>
                                  <%= @politician.tags %>
                            </div>
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4">
                              <p class="card-text"><%= @politician.cost %>€/night</p>
                            </div>
              </div>


            <%# <div > %>
  <div id="buttons_of_poli_show" style="display: flex">
              <% if current_user %>
                <% unless @politician.user.id == current_user.id %>

                  <%= simple_form_for [@politician, @booking] do |f| %>
                    <%= f.input :start_date, html5: true %>
                    <%= f.input :end_date, html5: true %>
                    <%= f.submit "jeremy Book now!", class: "btn", style: "background-color: #816F5D; color: #F7DCB9; margin: 4px" %>
                  <% end %>
                  <!--
                  <%= button_to "bruno Book now!", book_path(@politician.id), class: "poli_btn_primary", style: "background-color: #816F5D; color: #F7DCB9; margin: 4px" %>
                  -->
                <% end %>

                <% if @politician.user.id == current_user.id %>

                  <%= link_to "update this guy", edit_politician_path(@politician),
                  class: "btn", style: "background-color: #816F5D; color: #F7DCB9; margin: 4px" %>

                  <%= link_to "delete this guy",
                  politician_destroy_path(@politician),
                  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
                  class: "btn", style: "background-color: #816F5D; color: #F7DCB9; margin: 4px" %>

                <% end %>
              <% end %>
  </div>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <p style="margin: 16px"><%= @politician.description %></p>
    </div>
    <div id="rendering_bookings_if_owner">
    <% if current_user %>

      <% if @politician.user.id == current_user.id %>
        <%= render "bookinglist", bookings: @politician.bookings %>
      <% end %>
    <% end %>
    </div>

  </div>
</div>
<div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

</div>


<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>
