<div class="container">
  <div class="container m-10" style="width: 800; padding: 16px">
    <div class="row">

      <div class="col-sm-6">
        <div class="image-show ">
          <%= render partial: 'image_handling', locals: { politician: @politician } %>
        </div>
      </div>

      <div class="col-sm-6"> <!-- RIGHT CARD: col_1: name;; col_2: location, price, etc;; col_3: buttons (either 'book now' or 'edit+destroy') -->
        <div class="card" style="height: 340px;">
          <div class="card-body">
            <h5 class="card-title; margin: 4px"><%= @politician.name %></h5>

              <div class="row" style="border-bottom: #BDBDBD solid 1px; border-top: #BDBDBD solid 1px; padding: 2px; margin: 4px">
                <div class="col-sm-4">
                  <p class="card-text"><%= @politician.location %></p>
                </div>
                <div class="col-sm-4">
                  <strong>Tags:</strong>
                      <%= @politician.tags %>
                </div>
                <div class="col-sm-4"></div>
                  <div class="col-sm-4">
                    <p class="card-text"><%= @politician.cost %> €/night</p>
                  </div>
                </div>


                <div id="buttons_of_poli_show" style="display: flex">
                  <% if current_user %>
                    <% unless @politician.user.id == current_user.id %>
                      <button type="button" class="poli_btn_primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Book now!
                      </button>
                      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" id="exampleModalLabel">Select the dates you want to book</h1>
                            </div>
                            <div class="modal-body">
                              <%= simple_form_for [@politician, @booking] do |f| %>
                                <%= f.input :start_date, html5: true %>
                                <%= f.input :end_date, html5: true %>
                                <%= f.submit "Book now!", class: "poli_btn_primary" %>
                              <% end %>
                            </div>
                          </div>
                        </div>
                      </div>
                    <% end %>

                    <% if @politician.user.id == current_user.id %>
                      <div>
                        <%= link_to "update this guy", edit_politician_path(@politician),
                        class: "btn", style: "background-color: #816F5D; color: #F7DCB9; margin: 4px" %>
                        <%= link_to "delete this guy",
                        politician_destroy_path(@politician),
                        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
                        class: "btn", style: "background-color: #816F5D; color: #F7DCB9; margin: 4px" %>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <p style="margin: 16px"><%= @politician.description %></p>
    </div>
    <div> <!-- rendering all bookings of current politician if you are the owner -->
      <% if current_user %>
        <% if @politician.user.id == current_user.id %>
          <%= render "bookinglist", bookings: @politician.bookings %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
