
<div class="container">
  <div class="container m-10" style="width: 800">
    <div class="row">

      <div class="col-sm-6">

        <div class="card">
          <% if @politician.image_url.present? %>
            <img src="<%= @politician.image_url %>" alt="<%= @politician.name %>" width="50" height="60">
          <% else %>
            <%= cl_image_tag(@politician.photo.key, width: 50, height: 60, crop: :fill) %>
          <% end %>
        </div>
      </div>

      <div class="col-sm-6">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title; margin: 4px"><%= @politician.name %></h5>
            <div class="row" style="border-bottom: #BDBDBD solid 1px; border-top: #BDBDBD solid 1px; padding: 2px; margin: 4px">
              <div class="col-sm-4">
                <p class="card-text"><%= @politician.location %></p>
              </div>
              <div class="col-sm-4"></div>
              <div class="col-sm-4">
                <p class="card-text"><%= @politician.cost %>€/night</p>
              </div>

            </div>
            <%= button_to "Book now!", book_path(@politician.id), class: "btn", style: "background-color: #816F5D; color: #F7DCB9; margin: 4px" %>
          </div>
        </div>

      </div>


    </div>
  </div>
</div>

  <%= link_to politicians_path do %>
    <i class="fa-solid fa-arrow-rotate-left"></i> Back to list
  <% end %>



<% if current_user%>
  <% if @politician.user.id == current_user.id%>
  <%= render "bookinglist", bookings: @politician.bookings %>
  <% end %>
<% end %>
