<!DOCTYPE html>
<html>
  <head>
    <title>Polirent</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="body-wrapper">
      <div class="content-wrapper">
      <%= render "shared/navbar" %>
      <% if notice %>
        <div class="alert alert-info" role="alert">
          <%= notice %>
        </div>
      <% end %>
      <% if alert %>
        <div class="alert alert-danger" role="alert">
          <%= alert %>
        </div>
      <% end %>

      <%= yield %>

      </div>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
